{{> header}}
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
</div>
{{/if}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="/edit-provinsi/:id" method="POST" enctype="multipart/form-data">
        <div class="file-input-group text-start">
            <label for="file">Attache Thumbnail <img src="/public/icons/attach.svg" alt=""></label>
            <input type="file" hidden id="file" name="image" onchange="handleChange()"
                aria-label="File browser example">
            <input type="hidden" value="{{provinsi.id}}" name="id">
            <input type="hidden" value="{{provinsi.photo}}" name="oldImage">
            <input type="hidden" value="{{provinsi.photo}}" id="url-thumbnail">
            <div id="preview-thumbnail"></div>
        </div>
        <div>
            <input type="text" placeholder="nama provinsi" name="nama">
        </div>
        <div>
            <input type="text" placeholder="hari jadi(contoh: 19-May-2021)" name="diresmikan">
        </div>
        <div>
            <input type="text" placeholder="Pulau" name="pulau">
        </div>
        <div class="text-end">
            <button class="btn-submit-addcar">Submit</button>
        </div>
    </form>
</div>

<script>
    const previewElement = document.getElementById('preview-thumbnail');
    const urlThumbnail = document.getElementById('url-thumbnail').value;

    console.log(urlThumbnail)
    previewElement.innerHTML = `<img src="${urlThumbnail}" style="width: 250px; margin-left: 170px;" class="mb-3"/>`;

    function handleChange() {
        const previewElement = document.getElementById('preview-thumbnail')
        const value = URL.createObjectURL(event.target.files[0])

        previewElement.innerHTML = `<img src=${value} style="width:250px; margin-left: 170px;" class="mb-3" />`
    }
</script>

{{> footer}}